{% extends "layout.html" %}
{% block content %}

<section class="uk-section uk-section-muted uk-padding-remove-bottom">
    <div class="uk-container uk-container-small">
        <header class="uk-text-center">
            <h1 class="uk-heading-primary">Time Slot Booking</h1>
            <p class="uk-width-3-5 uk-margin-auto">
                The booking system is the easiest way for students to book tables in the university library. The time slots</label> can be booked individually and be cancelled if necessary.
            </p>
        </header>
        <div class="uk-text-center uk-text-small uk-text-muted uk-section uk-section-small">
            Simply click on a time slot to start the booking process.<br>
            <a href="#table" title="Book a time slot" data-uk-icon="arrow-down" data-uk-scroll="duration: 400" class="uk-button uk-button-secondary uk-margin-medium-top uk-button-large">BOOK A TIME SLOT</a>
        </div>
    </div>
</section>
<section id="table" class="uk-section uk-section-default">
    <div class="uk-container">
        <div class="uk-text-lead">Booking System</div>
        <div class="uk-text-meta">{{ week[0] }}</div>
        <div class="uk-overflow-auto">
            <form method="POST" action="">
                {{ form.hidden_tag() }}
                <table class="uk-table uk-table-middle uk-table-divider uk-table-large uk-table-justify" data-uk-scrollspy="cls:uk-animation-fade;">
                    <thead>
                        <tr>
                            <th><span class="uk-text-bold">Time Slot</span></th>
                            <th class="uk-background-muted">Monday<br>{{ week[1] }}</th>
                            <th>Tuesday<br>{{ week[2] }}</th>
                            <th class="uk-background-muted">Wednesday<br>{{ week[3] }}</th>
                            <th>Thursday<br>{{ week[4] }}</th>
                            <th class="uk-background-muted">Friday<br>{{ week[5] }}</th>
                            <th>Saturday<br>{{ week[6] }}</th>
                            <th class="uk-background-muted">Sunday<br>{{ week[7] }}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="uk-width-1-8 uk-text-bold">00:00 - 06:00</td>
                            <td class="uk-width-1-8 uk-background-muted"><label>{{ form.m1(class="uk-checkbox") }} {{ bookings[0][0] }}</label></td>
                            <td class="uk-width-1-8"><label>{{ form.t1(class="uk-checkbox") }} {{ bookings[1][0] }}</label></td>
                            <td class="uk-width-1-8 uk-background-muted"><label>{{ form.w1(class="uk-checkbox") }} {{ bookings[2][0] }}</label></td>
                            <td class="uk-width-1-8"><label>{{ form.th1(class="uk-checkbox") }} {{ bookings[3][0] }}</label></td>
                            <td class="uk-width-1-8 uk-background-muted"><label>{{ form.f1(class="uk-checkbox") }} {{ bookings[4][0] }}</label></td>
                            <td class="uk-width-1-8"><label>{{ form.s1(class="uk-checkbox") }} {{ bookings[5][0] }}</label></td>
                            <td class="uk-width-1-8 uk-background-muted"><label>{{ form.su1(class="uk-checkbox") }} {{ bookings[6][0] }}</label></td>
                        </tr>
                        <tr>
                            <td class="uk-width-1-8 uk-text-bold">06:00 - 12:00</td>
                            <td class="uk-width-1-8 uk-background-muted"><label>{{ form.m2(class="uk-checkbox") }} {{ bookings[0][1] }}</label></td>
                            <td class="uk-width-1-8"><label>{{ form.t2(class="uk-checkbox") }} {{ bookings[1][1] }}</label></td>
                            <td class="uk-width-1-8 uk-background-muted"><label>{{ form.w2(class="uk-checkbox") }} {{ bookings[2][1] }}</label></td>
                            <td class="uk-width-1-8"><label>{{ form.th2(class="uk-checkbox") }} {{ bookings[3][1] }}</label></td>
                            <td class="uk-width-1-8 uk-background-muted"><label>{{ form.f2(class="uk-checkbox") }} {{ bookings[4][1] }}</label></td>
                            <td class="uk-width-1-8"><label>{{ form.s2(class="uk-checkbox") }} {{ bookings[5][1] }}</label></td>
                            <td class="uk-width-1-8 uk-background-muted"><label>{{ form.su2(class="uk-checkbox") }} {{ bookings[6][1] }}</label></td>
                        </tr>
                        <tr>
                            <td class="uk-width-1-8 uk-text-bold">12:00 - 18:00</td>
                            <td class="uk-width-1-8 uk-background-muted"><label>{{ form.m3(class="uk-checkbox") }} {{ bookings[0][2] }}</label></td>
                            <td class="uk-width-1-8"><label>{{ form.t3(class="uk-checkbox") }} {{ bookings[1][2] }}</label></td>
                            <td class="uk-width-1-8 uk-background-muted"><label>{{ form.w3(class="uk-checkbox") }} {{ bookings[2][2] }}</label></td>
                            <td class="uk-width-1-8"><label>{{ form.th3(class="uk-checkbox") }} {{ bookings[3][2] }}</label></td>
                            <td class="uk-width-1-8 uk-background-muted"><label>{{ form.f3(class="uk-checkbox") }} {{ bookings[4][2] }}</label></td>
                            <td class="uk-width-1-8"><label>{{ form.s3(class="uk-checkbox") }} {{ bookings[5][2] }}</label></td>
                            <td class="uk-width-1-8 uk-background-muted"><label>{{ form.su3(class="uk-checkbox") }} {{ bookings[6][2] }}</label></td>
                        </tr>
                        <tr>
                            <td class="uk-width-1-8 uk-text-bold">18:00 - 24:00</td>
                            <td class="uk-width-1-8 uk-background-muted"><label>{{ form.m4(class="uk-checkbox") }} {{ bookings[0][3] }}</label></td>
                            <td class="uk-width-1-8"><label>{{ form.t4(class="uk-checkbox") }} {{ bookings[1][3] }}</label></td>
                            <td class="uk-width-1-8 uk-background-muted"><label>{{ form.w4(class="uk-checkbox") }} {{ bookings[2][3] }}</label></td>
                            <td class="uk-width-1-8"><label>{{ form.th4(class="uk-checkbox") }} {{ bookings[3][3] }}</label></td>
                            <td class="uk-width-1-8 uk-background-muted"><label>{{ form.f4(class="uk-checkbox") }} {{ bookings[4][3] }}</label></td>
                            <td class="uk-width-1-8"><label>{{ form.s4(class="uk-checkbox") }} {{ bookings[5][3] }}</label></td>
                            <td class="uk-width-1-8 uk-background-muted"><label>{{ form.su4(class="uk-checkbox") }} {{ bookings[6][3] }}</label></td>
                        </tr>
                    </tbody>
                </table>
                <div class="uk-grid-small uk-margin-medium-top" uk-grid>
                    <div class="uk-width-1-2@s">
                        {{ form.firstname.label(class="uk-form-label")}}

                        {% if form.firstname.errors %}
                            {{ form.firstname(class="uk-input uk-form-danger") }}
                            <div class="uk-text-small uk-text-light uk-text-danger">
                                {% for error in form.firstname.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.firstname(class="uk-input") }}
                        {% endif %}
                    </div>
                    <div class="uk-width-1-2@s">
                        {{ form.lastname.label(class="uk-form-label")}}

                        {% if form.lastname.errors %}
                            {{ form.lastname(class="uk-input uk-form-danger") }}
                            <div class="uk-text-small uk-text-light uk-text-danger">
                                {% for error in form.lastname.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.lastname(class="uk-input") }}
                        {% endif %}
                    </div>
                    <div class="uk-width-1-1">
                        {{ form.email.label(class="uk-form-label")}}

                        {% if form.email.errors %}
                            {{ form.email(class="uk-input uk-form-danger") }}
                            <div class="uk-text-small uk-text-light uk-text-danger">
                                {% for error in form.email.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.email(class="uk-input") }}
                        {% endif %}
                    </div>
                    <div class="uk-width-1-1">
                        {{ form.submit(class="uk-button uk-button-primary uk-align-right") }}
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>

{% endblock %}